nav.navbar.has-shadow(role="navigation")
  //- .container
  .navbar-brand
    a.navbar-item(href='/')
      img.mr-2(
        src='/public/images/jupiter.png'
        style="height: 100%; width: auto")
      | fndr by Jupiter
    //- .navbar-burger.burger(data-target='nav-menu-dropdown')
    //-   span(aria-hidden='true')
    //-   span(aria-hidden='true')
    //-   span(aria-hidden='true')
  .navbar-menu(id="nav-menu-dropdown")
    .navbar-end
      .navbar-item.is-hoverable.px-0
        a.navbar-link.is-arrowless(
          href="https://github.com/moontography/fndr"
          target="_blank"
          rel="noopener noreferrer")
            h1.is-size-3 f
        a.navbar-link.is-arrowless(
          href="https://github.com/moontography/fndr-web"
          target="_blank"
          rel="noopener noreferrer")
            i.devicon-github-plain(style="font-size: 2rem")
      .navbar-item.is-hoverable.px-0
        a.navbar-link.is-arrowless(
          href="https://twitter.com/themoontography"
          target="_blank"
          rel="noopener noreferrer")
            i.fa.fa-twitter(style="font-size: 2rem")
      if address
        .navbar-item.has-dropdown.is-hoverable
          a.navbar-link
            div= address
          .navbar-dropdown
            a.navbar-item(
              href="https://jpr.gojupiter.tech"
              target="_blank"
              rel="noopener noreferrer")
                | #[i.mr-2.fa.fa-globe] Jupiter
            a.navbar-item(
              href="/download/config")
                | #[i.mr-2.fa.fa-download] Download Config
            //- a.navbar-item
            //-   | Profile
            //- a.navbar-item
            //-   | Settings
            a.navbar-item.is-text-danger(href='/logout/confirm')
              | #[i.mr-2.fa.fa-sign-out] Logout
