mixin updateConfigForm(configOptions=[])
  div.mb-2
    small
      small
        | You can optionally upload the JSON configuration from the #[a(href="https://github.com/whatl3y/fndr") fndr CLI]
        | here and autopoulate all the information below to sync your machine with this web interface.
        | Please refer to the fndr docs for more info on #[code $ fndr file].
  form#config-json-upload(
    action='/'
    enctype='multipart/form-data'
    method='post')
      .file
        label.file-label
          input.file-input(
            type='file'
            name='file'
            onchange="document.getElementById('config-json-upload').submit()")
          span.file-cta
            span.file-icon
              i.fas.fa-upload
            span.file-label
              | Upload raw JSON config here (optional)&mldr;

  hr(style="height: 1px")

  if configOptions && configOptions.length > 0
    form(
      action='/config'
      method='post')
        .field.is-flex.is-justify-content-center
          .control
            button.button.is-danger(type="submit") Save
        each conf in configOptions
          if conf.type == 'header'
            hr
          .field
            label.label
              div(
                class=(conf.type == 'header') ? 'is-size-3' : ''
                style=(conf.type == 'header') ? 'text-decoration: underline' : '')= conf.label
              if conf.description
                div(style='font-size: 0.6rem')= conf.description
            .control
              if !conf.type || conf.type == 'text' || conf.type == 'password'
                input.input(
                  type=conf.type || 'text'
                  name=conf.name
                  placeholder=conf.placeholder || conf.label
                  value=conf.default || '')
              else if conf.type == 'radio'
                .control
                  each choice in conf.choices
                    label.radio
                      input(type='radio' name=conf.name)
                      span= choice.label

        .field.is-flex.is-justify-content-center
          .control
            button.button.is-danger(type="submit") Save